{% extends "base_generic.html" %}
{% block content %}
{% load post_conversion %}
{% load widget_tweaks %}

<div style="display:block; width:100%;">
    <div style="width:50%; float: left; display: inline-block;">
        <h1>Edit:</h1>
        <form action="" method="post">
        {% csrf_token %}
        {% render_field form.title %}
        {% render_field form.content hx-post="/posts/convert_markdown/" hx-trigger="keyup" hx-target="#post_error" hx-swap="innerHTML" %}
        <div id="post_error">test</div>

        <input type="submit" value="View Post & Save" />
        </form>
    </div>
    <div style="width:50%; float: left; display: inline-block;">#
        <h1>Title: {{ post.title }}</h1>
        <p>Content: {{ post.content | convert_markdown }}</p>
    </div>
</div>
{% endblock %}